html { 
    background: url(assets/images/starwarsbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body{
    margin-bottom: 30%;
  }
  h1{
    font-family: 'Patua One', cursive;
    text-align: center;
    font-size:60px;
  }
  h3{
    font-family: 'Patua One', cursive;
    margin-bottom: 2%;
    margin-top:5%;
    color:yellow;
    font-size: 40px;
  }
  h3:hover{
   color: green;
 }

  .row {
    display: flex;

  }
  figcaption{
    background-color: white;
    margin-top:0;
  }
  .flaticon-heart-shape-love{
    color:red;
  }
  
  .column {
    padding: 5px;
  }
  
  img{
     height:120px;
    border: 5px solid white;
    
  }
  figure{
    border:10px;
  }
  figure:hover{
    border:5px solid green;
  }
  #enermyhl{
    margin-top:200px;
  }
  .enermy{
    height: 180px;
    background-color: green;
  }
  .button{
    margin-top: 200px;
    font-size:16px;
  }
  .buttonA{
    background-color: red;
    float:left;
  }
  .buttonR{
    float:right;
    background-color: Yellow;
  }
  #defender-container{
    height: 150px;
    background-color: blueviolet;
  }
  

  