
.character-body{
  color:white;
}
#reball{
  color:yellow;
}

p{
  color:white;
}
#popup{
  color:black;
}
.card:hover{
  border: 3px solid green;
}
html, body {
  background: url(../images/starfield.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  color: #fff;
  
}
img{
  height:60%;
}
#porg{
  color:orange;
}
.flaticon-heart-shape-love{
  color:red;
}
.row{
  margin-left: 1%;
}

.modal-content {
  background-color: #fefefe;
  margin-top:20%;
  padding: 10px;
  width: 20%;
  margin-left:35%;
}

/* The Close Button */
.close {
  color:black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}